sudo: false

language: node_js

node_js:
  - '5'
  - '6'

branches:
  only:
    - master
    - development
    - travis-ci

before_install:
  - npm install --no-save --no-package-lock
  - npm install -g istanbul coveralls
